#  Python interpreter bytecode
__pycache__

#  MyPy files
.mypy_cache
.mypy.ini

#  Pyright typechecker files
pyrightconfig.json 

#  Last.fm API Key and Telegram bot token
.env
.env-example

#  VSCode debugging configuration, workspace config
.vscode
*.code-workspace

#  Main program folder for other data: log files, user settings files, user current situation, geodata
data

#  Current run log
logger.log

#  Files for working experiments
**/*.ipynb
.ggget.py
db/backup

#  File-notebook with plans and actions
WORKFLOW.md

#  Test db for debugging
db/ggb_sqlite.db
db/backup
