[Unit]
Description=Telegram bot Great Gig Bot
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/ggb/.venvs/ggbenv/bin/python main.py
ExecReload=/home/ggb/.venvs/ggbenv/bin/python main.py
WorkingDirectory=/home/ggb/ggbot
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
